manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: urob
      url-base: https://github.com/urob
  projects:
    # メインのZMK本体（urob版）
    - name: zmk
      remote: urob
      revision: main
      import: app/west.yml
    
    # トラックボールドライバ（URLを直接指定して強制ダウンロード）
    - name: zmk-pmw3610-driver
      url: https://github.com/badjeff/zmk-pmw3610-driver
      revision: main
  
  self:
    path: config
