/* 必要な辞書ファイルを読み込む */
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/input_transform.h>

&spi0 {
    status = "okay";
};

&trackball {
    status = "okay";
    /* スクロール機能の有効化 */
    input-processors = <&zip_xy_scaler 1 16>, <&zip_xy_to_scroll_mapper>;
};
